

{% extends 'base.html' %}
{% block tohen %}

    <div id="pageHome">

        <div id="title">
            <h1>ברוכים הבאים למועדון הקריאה של ווב </h1>
        </div>
        <div id="text">
            <h2> במועדון הקריאה של ווב יהיה ניתן לדבר על ספרים <br>ולהגיש בקשות להחלפת ספרים עם חברי הקורס</h2>
        </div>




        <button id="but_tkanon" onclick="text()"> תקנון</button>
        <br>
        <p id="text_p"></p>
        <br>

        <div id="container">
            <div id="an_book1" class="anomation">
                <img src="..//static/book1.jpg" alt="">
            </div>

            <div id="an_book2" class="anomation">
                <img src="..//static/book2.jfif" alt="">
            </div>


        </div>
    </div>



{% endblock %}
