


{% extends 'base.html' %}
{% block title %}Log In Page{% endblock %}

{% block tohen %}


    <div id="Page">
        <div id="title">
            {% if message %}
                <h1>{{ message }}</h1>
            {% endif %}
            {% if session['logedin'] %}
                <h1>Welcome, {{ session['username'] | upper() }}</h1>
                <h4>Phone Number: {{ session['PhoneNumber'] | upper() }}</h4>
                <h4>Email: {{ session['email'] | upper() }}</h4>
            {% else %}
                <h1>Welcome to LogIn Page</h1>
                <h2>Login Form:</h2>
                <form action="/log_in" method="post">
                    <input type="email" name="Email" placeholder="Email">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit">
                </form>
            {% endif %}


             {% if user_dict %}
            <ol>
                {% for k, v in user_dict.items() %}
                    <li> <h5> {{ v }}</h5></li>
                {% endfor %}
            </ol>
        {% endif %}


        </div>
    </div>

{% endblock %}









{#{% extends 'index.html' %}#}
{##}
{#{% block header %}#}
{#        {% set page_name = 'Log In Page' %}#}
{#        {% include('header.html') %}#}
{#{% endblock %}#}
{##}
{#{% block Main %}#}
{#    <form method="POST" action="/log_in">#}
{#        <input name="username" type="text" placeholder="name">#}
{#        <input name="lastname" type="text" placeholder="last name">#}
{#        <input type="submit">#}
{#    </form>#}
{#{% endblock %}#}