<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>     body{
        background-image: url("..//static/background.jpg");
    } </style>
    <style>
        #title {    
    border:10px solid rgb(5, 109, 184);
    text-align: center ;
    color: rgb(0, 0, 0) 
        }
        #text{
        text-align: center ;
        color: rgb(0, 0, 0)
    }
  
    </style>
   
   
</body>

<div id ="title"><h1>דף צור קשר  </h1></div>
<div id ="text"><h2>.בדף זה  ניתן לשלוח בקשות ולהשאיר פרטים אישיים על מנת שנוכל ליצור איתך קשר בהמשך. </h2></div>
<div id ="text"><h2>.בנוסף על מנת להנעים את זמנך בזמן מילוי הטופס ניתן להאזין לשיר  </h2></div>
<audio controls src="../static/firstSong.mp3"></audio>
<br><br><br><br><br>
<p>
    <label for="FullName">שם מלא</label>
    <br>
    <input type="FullName" id="FullName" name="FullName">
    <br>
    <label for="email">אימייל</label>
    <br>
    <input type="email" id="email" name="email" maxlength="10">
    <br>
    <label for="number">גיל</label>
    <br>
    <input type="number" id="number" name="number" max="120" min="5">
    <br><br>
    <span style="border: 1px solid black">
        <label for="radio">גבר</label>
        <input type="radio" name="radio" id="radio">
        <label for="radio">אישה</label>
        <input type="radio" name="radio" id="radio">
    </span>
    <br>
</p>
<p>
    <label for="text">תוכן ההודעה</label>
    <br>
    <input type="text" id="text" name="text" maxlength="120">
    <br><br>
    <label for="file">ניתן לצרף קובץ</label>
    <br>
    <input type="file" id="file" name="file">
    <br><br>
    <input type="submit"> 
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<nav>
    <ul>
        <li><a href="MyFirstHw.html">Home Page</a></li>
    </ul>
</nav>





</html>