
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <audio controls src="../static/IPHONE RINGTONE.mp3" style=" background-color: lightgrey;
                                                                width: 300px;
                                                                border: 15px solid rgb(81, 106, 231);
                                                                padding: 50px;
                                                                margin: 50px;"></audio>
    <div>
        <p>
            <form action="" style=" background-color: lightgrey;
                                    width: 300px;
                                    border: 15px solid rgb(81, 106, 231);
                                    padding: 50px;
                                    margin: 50px;">
                <br>
                <p>
                    <label for="FullName">Full Name</label>
                    <br>
                    <input type="FullName" id="FullName" name="FullName">
                    <br>
                    <label for="email">Email</label>
                    <br>
                    <input type="email" id="email" name="email" maxlength="10">
                    <br><br>
                    <label for="number">Age</label>
                    <br>
                    <input type="number" id="number" name="number" max="100">
                    <br><br>
                    <span style="border: 1px solid black">
                        <label for="radio">Male</label>
                        <input type="radio" name="radio" id="radio">
                        <label for="radio">Female</label>
                        <input type="radio" name="radio" id="radio">
                    </span>
                    <br><br>
                </p>
                <p>
                    <label for="text">Your message</label>
                    <br>
                    <input type="text" id="text" name="text">
                    <br><br>
                    <label for="file">Your requirement document</label>
                    <input type="file" id="file" name="file">
                    <br><br>
                    <input type="submit"> 
                </p>
              </form> 
            </p>
            <nav>
                <ul>
                    <li><a href="">Home Page</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </nav>
    </div>
   
</body>
</html>