<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..//static/Style.css">
    <script defer src="..//static/js.js"></script>
</head>
<body>
    <nav>
        <label class="logo">MyBook</label>
        <ul>
           
            <li id="link"><a href="home.html">מסך בית </a></li>
            <li id="link"><a href="Contact.html"> צור קשר</a></li>
        
        </ul>
    </nav>

    <div id="pageHome"  >

        <div id ="title" ><h1>ברוכים הבאים למועדון הקריאה של ווב  </h1></div>
        <div id="text"><h2> במועדון הקריאה של ווב יהיה ניתן לדבר על ספרים <br>ולהגיש בקשות להחלפת ספרים עם חברי הקורס</h2> </div>
            

    <br><br><br><br>
        
    <button id="but_tkanon" onclick="text()"> תקנון</button>
    <br>
    <p id="text_p"></p>
    <br>

    <div id="container">
        <div id="an_book1" class="anomation">
       <img src="..//static/book1.jpg" alt="" >
     </div>

        <div id="an_book2" class="anomation">
        <img src="..//static/book2.jfif" alt=""  >
        </div>

        
         </div>
    
       
    

     



</body>
</html>