<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <h1 style="color: rgb(81, 106, 231);" >ברוכים הבאים לחנות הספרים של ווב</h1>


    </div>


    <div>
        <img src="../static/Book.jpg" alt="Book" style=" background-color: lightgrey;
                                                        width: 300px;
                                                        border: 15px solid rgb(146, 161, 237);
                                                        padding: 50px;
                                                        margin: 50px;">
    </div>

</div>
          
<br>
<br>
<br>
<br>

<nav>
  <ul>
      <li><a href=>Home Page</a></li>
      <li><a href=>Contact Us</a></li>
  </ul>
</nav>​

</div>

    </form>    
</body>
</html> 