<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <style>
  body{
        background-image: url("..//static/background.jpg");
    } 
   
    #title {    
        border:10px solid rgb(5, 109, 184);
        text-align: center ;
        color: rgb(0, 0, 0)    
        
    }
    #text{
        text-align: center ;
        color: rgb(0, 0, 0)
    }







    </style>


<div id ="title"><h1>ברוכים הבאים למועדון הקריאה של ווב  </h1></div>
<div id="text"><h2> במועדון הקריאה של ווב יהיה ניתן לדבר על ספרים <br> .ולהגיש בקשות להחלפת ספרים עם חברי הקורס</h2> </div>
<div id="pic"><img src="../static/Book-removebg-preview.PNG"></div>




      
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       
        
        
<nav>
          <ul>
              <li><a href="Contact.html">דף צור קשר</a></li>
          </ul>
        </nav>
</div>


​

</div>
    
    </form>    
</body>
</html> 